/**
 * Base
 */

html {
  font-size: 62.5%;
}

body {
  background: #FFF;
  color: var(--textColor);
  font-size: 16px;
  font-family: var(--fontSansSerif);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a {
  color: var(--deepSeaBlue);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 1em;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
